<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context"
                    name="serviceName"
                    source="spring.application.name"
                    defaultValue="unknown-service"/>

    <springProperty scope="context"
                    name="environment"
                    source="spring.profiles.active"
                    defaultValue="local"/>

    <springProperty scope="context"
                    name="version"
                    source="info.app.version"
                    defaultValue="v1"/>

    <!-- Console appender (human-readable) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} [%property{serviceName}] %msg %replace(%X{trace_id}){'^(?!$|N/A|null|false)(.+)$','[trace_id=$1]'} %replace(%X{request_id}){'^(?!$|N/A|null|false)(.+)$','[request_id=$1]'} %replace(%X{user_id}){'^(?!$|N/A|null|false)(.+)$','[user_id=$1]'} %replace(%X{endpoint}){'^(?!$|N/A|null|false)(.+)$','[endpoint=$1]'} %replace(%X{method}){'^(?!$|N/A|null|false)(.+)$','[method=$1]'}%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>